<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean name="emp" class="com.seed.bean.Employee" lazy-init="true">
    	<property name="id" value="1"></property>
    	<property name="name" value="Sam" />
    	<property name="salary" value="5000" />
    </bean>
    
    <bean name="bike" class="com.seed.bean.Bike" scope="prototype">
    	<property name="name" value="Yezdi" />
    	<property name="color" value="Black" />
    </bean>
    
    <bean name="car" class="com.seed.bean.Car" scope="singleton">
    	<property name="name" value="Audi"></property>
    	<property name="color" value="Red" />
    </bean>
    
    
    <bean name="add1" class="com.seed.bean.Address" scope="prototype">
    	<property name="city" value="pune"></property>
    </bean>
    <bean name="emp1" class="com.seed.bean.Employee" scope="prototype">
    	<property name="id" value="1"></property>
    	<property name="name" value="Sam" />
    	<property name="salary" value="5000" />
    	<property name="address" ref="add1"></property>
    </bean>
    
    
    <bean name="add2" class="com.seed.bean.Address" scope="singleton">
    	<property name="city" value="pune"></property>
    </bean>
    <bean name="emp2" class="com.seed.bean.Employee" scope="singleton">
    	<property name="id" value="1"></property>
    	<property name="name" value="Sam" />
    	<property name="salary" value="5000" />
    	<property name="address" ref="add2"></property>
    </bean>
    
    
    <bean name="add3" class="com.seed.bean.Address" scope="singleton">
    	<property name="city" value="pune"></property>
    </bean>
    <bean name="emp3" class="com.seed.bean.Employee" scope="prototype">
    	<property name="id" value="1"></property>
    	<property name="name" value="Sam" />
    	<property name="salary" value="5000" />
    	<property name="address" ref="add3"></property>
    </bean>
    
    
    <bean name="add4" class="com.seed.bean.Address" scope="prototype">
    	<property name="city" value="pune"></property>
    </bean>
    <bean name="emp4" class="com.seed.bean.Employee" scope="singleton">
    	<property name="id" value="1"></property>
    	<property name="name" value="Sam" />
    	<property name="salary" value="5000" />
    	<property name="address" ref="add4"></property>
    </bean>
</beans>